---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/layout.astro'
import { css } from '@/styled-system/css'

export async function getStaticPaths() {
  const glossaries = await getCollection('glossary')

  const uniqueTags = [...new Set(glossaries.map((g) => g.data.tags).flat())]

  return uniqueTags.map((tag) => {
    const filteredGlossaries = glossaries.filter((g) => g.data.tags.includes(tag))

    return {
      params: { tag },
      props: { glossaries: filteredGlossaries },
    }
  })
}

const { tag } = Astro.params
const { glossaries } = Astro.props
---

<Layout title={tag}>
  <h2 class={css({ fontSize: '5xl', lineHeight: 1, fontWeight: 600, mb: 5 })}>
    {tag}
  </h2>
  {
    glossaries.map((glossary) => (
      <div>
        <a href={`/glossary/${glossary.slug}`}>{glossary.data.title}</a>
      </div>
    ))
  }
</Layout>
