---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/layout.astro'
import { css } from '@/styled-system/css'
import { flex } from '@/styled-system/patterns'

export async function getStaticPaths() {
  const glossaries = await getCollection('glossary')

  const uniqueTags = [...new Set(glossaries.map((g) => g.data.tags).flat())]

  return uniqueTags.map((tag) => {
    const filteredGlossaries = glossaries.filter((g) => g.data.tags.includes(tag))

    return {
      params: { tag },
      props: { glossaries: filteredGlossaries },
    }
  })
}

const { tag } = Astro.params
const { glossaries } = Astro.props
---

<Layout title={tag}>
  <a
    href="/"
    class={css({
      display: 'inline-flex',
      alignItems: 'center',
      color: 'gray.500',
      textDecoration: 'none',
      fontSize: 'sm',
      mb: 5,
      '&:hover': {
        textDecoration: 'underline',
        textUnderlineOffset: '2px',
      },
    })}
  >
    &larr; Back to Tags
  </a>
  <h2 class={css({ fontSize: '5xl', lineHeight: 1, fontWeight: 600, mb: 2 })}>
    {tag}
  </h2>
  <div class={flex({ direction: 'column', gap: 2 })}>
    {glossaries.map((glossary) => <a href={`/glossary/${glossary.slug}`}>{glossary.data.title}</a>)}
  </div>
</Layout>
