---
import { getCollection } from 'astro:content'
import { flex, grid } from '@/styled-system/patterns'
import Layout from '@/layouts/layout.astro'
import Glossary from '@/components/Glossary.astro'
import { css } from '@/styled-system/css'

const glossaries = (await getCollection('glossary')).reduce((prev: any, current: any) => {
  const alphabet = current.data.alphabet

  if (!prev[alphabet]) {
    prev[alphabet] = []
  }

  prev[alphabet].push(current)

  return prev
}, {})
---

<Layout title="Home">
  <div class={flex({ direction: 'column', gap: 4 })}>
    {
      Object.keys(glossaries).map((alphabet) => (
        <div class={flex({ align: 'flex-start' })}>
          <div class={css({ w: '1/5' })}>
            <h2 class={css({ fontSize: '4xl', fontWeight: 600 })}>{alphabet}</h2>
          </div>
          <div class={css({ w: '4/5', gap: 4 })}>
            <div class={grid({ columns: { base: 1, md: 2 }, gap: 3 })}>
              {glossaries[alphabet].map((glossary: any) => (
                <Glossary glossary={glossary} />
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
