---
import { getCollection } from 'astro:content'

const glossaries = (await getCollection('glossary')).reduce(
  (prev: any, current: any) => {
    const alphabet = current.data.alphabet

    if (!prev[alphabet]) {
      prev[alphabet] = []
    }

    prev[alphabet].push(current)

    return prev
  },
  {},
)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Glossary</title>
  </head>
  <body>
    <h1>Glossary</h1>

    {
      Object.keys(glossaries).map((alphabet) => (
        <div>
          <h2>{alphabet}</h2>
          {glossaries[alphabet].map((glossary: any) => (
            <div>{glossary.data.title}</div>
          ))}
        </div>
      ))
    }
  </body>
</html>