---
import { getCollection } from 'astro:content'

const glossaries = await getCollection('glossary')
const tags = [...new Set(glossaries.map((g) => g.data.tags).flat())]
---

{
  tags.map((tag) => (
    <div>
      <a href={`/tags/${tag}`}>#{tag}</a>
    </div>
  ))
}