---
import { ViewTransitions } from 'astro:transitions'
import { css } from '@/styled-system/css'
import { flex } from '@/styled-system/patterns'
import '../index.css'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} | Glossary</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="Software Development Glossary" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" sizes="any" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
    <link rel="apple-touch-icon" href="/apple-icon.png" type="image/png" sizes="180x180" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://paga-glossary.vercel.app/opengraph-image.png" />
    <meta property="og:url" content="https://paga-glossary.vercel.app" />
    <meta property="og:title" content="Software Development Glossary" />
    <meta property="og:description" content="Software Development Glossary" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@grizzly_codes" />
    <meta property="twitter:title" content="Software Development Glossary" />
    <meta name="twitter:description" content="Software Development Glossary" />
    <meta name="twitter:image" content="https://paga-glossary.vercel.app/twitter-image.png" />
    <ViewTransitions />
  </head>
  <body>
    <header role="banner">
      <div
        class={flex({
          align: 'center',
          justify: 'center',
          px: 4,
          py: 6,
          transform: 'skewY(-5deg)',
        })}
      >
        <h1 class={css({ fontSize: '5xl', fontWeight: 'bold' })}>
          <a href="/">Glossary</a>
          <a
            href="/tags"
            class={css({
              display: 'inline-flex',
              fontSize: 'sm',
              color: 'gray.500',
              fontWeight: 400,
              transform: 'skewY(5deg)',
            })}>Tags</a
          >
        </h1>
      </div>
    </header>
    <main role="main" class={css({ my: 8 })}>
      <div class={css({ maxW: '3xl', mx: 'auto', px: 4 })}>
        <slot />
      </div>
    </main>
  </body>
</html>
